<div class="row">
    <div class="col-sm-10">
        <div class="spacer-left">
            <h1>Manage address</h1>
            <hr>
            <div class="row">

                <div class="col-sm-4">

                    <p-dataView [value]="addressList">
                        <p-header>
                            <h3>Your Address List</h3>
                        </p-header>
                        <ng-template let-address pTemplate="listItem" style="margin-bottom: 2%; ">
                            <div style="border-bottom: 4px solid #E1E4E9; padding-bottom: 10px;">
                                <div>
                                    <p-header>
                                        <h3>{{address.FullName}}</h3>
                                    </p-header>
                                </div>
                                <p>{{address.HouseBuildingCompanyApartment}}, {{address.AreaColonyStreetSectorVillage}}
                                </p>
                                <p>{{address.Landmark}}, Pin: {{address.Pincode}}</p>
                                <p>{{address.TownCityDistrict}}, {{address.State}} ({{address.Country}})</p>
                                <div>
                                    <a>{{address.MobileNumber}}</a>
                                </div>
                                <div *ngIf="cartID !== undefined">
                                    <button style="color: honeydew; margin-top: 10%; font-weight: 700;" pButton
                                        type="button" label="Delivery Address"
                                        (click)="DeliveryAddress('/checkout', address.ID)"
                                        class="btn ui-button-warning btn-block"></button>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <button style="color: #313837; margin-top: 10%; font-weight: 900;" pButton
                                            type="button" label="Edit" (click)="EditAddress(address)"
                                            class="btn ui-button-secondary btn-block"></button>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <button
                                            style="color: #313837; margin-top: 10%; margin-left: 0%; font-weight: 900;"
                                            pButton type="button" label="Delete" (click)="DeleteAddress(address.ID)"
                                            class="btn ui-button-secondary btn-block"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-7">
                    <h3>Add new address <a (click)="ShowAddressForm()">click</a> here!</h3>
                    <div class="row" *ngIf="addressList.length === 0 || isShowAddressForm">

                        <div class="spacer-top">
                            <label>Full Name: </label><br>
                            <input id="input" type="text" size="50" pInputText [(ngModel)]="address.FullName">
                        </div>
                        <div class="spacer-top">
                            <label>Mobile Number: </label><br>
                            <input id="input" type="text" size="50" pInputText [(ngModel)]="address.MobileNumber">
                        </div>
                        <div class="spacer-top">
                            <label>Alternat Phone Number: </label><br>
                            <input id="input" type="text" size="50" pInputText
                                [(ngModel)]="address.AlternatPhoneNumber">
                        </div>
                        <div class="spacer-top">
                            <label>Pincode: </label><br>
                            <input id="input" type="text" size="50" pInputText [(ngModel)]="address.Pincode">
                        </div>
                        <div class="spacer-top">
                            <label>House, Building, Company, Apartment: </label><br>
                            <input id="input" type="text" size="50" pInputText
                                [(ngModel)]="address.HouseBuildingCompanyApartment">
                        </div>
                        <div class="spacer-top">
                            <label>Area, Colony, Street, Sector, Village: </label><br>
                            <input id="input" type="text" size="50" pInputText
                                [(ngModel)]="address.AreaColonyStreetSectorVillage">
                        </div>
                        <div class="spacer-top">
                            <label>Landmark: </label><br>
                            <input id="input" type="text" size="50" pInputText [(ngModel)]="address.Landmark">
                        </div>
                        <div class="spacer-top">
                            <label>Town, City, District: </label><br>
                            <input id="input" type="text" size="50" pInputText [(ngModel)]="address.TownCityDistrict">
                        </div>
                        <div class="spacer-top">
                            <label>Country: </label><br>
                            <!-- <input id="input" type="text" size="50" pInputText [(ngModel)]="address.Country"> -->


                            <p-dropdown [options]="countryItems" (onChange)="StateByCountryID()" [filter]="true"
                                name="bCountryID" [(ngModel)]="address.CountryID" autoWidth="false"
                                [style]="{'width':'52%'}" placeholder="choose Country"></p-dropdown>
                        </div>
                        <div class="spacer-top">
                            <label>State: </label><br>

                            <p-dropdown [options]="stateItems" name="bStateID" *ngIf="stateItems.length > 0"
                                [(ngModel)]="address.StateID" autoWidth="false" [style]="{'width':'52%'}"
                                [filter]="true" placeholder="choose State"></p-dropdown>
                            <!-- <input type="text" *ngIf="stateItems.length === 0" pInputText id="State"
                                [(ngModel)]="address.State" name="bState" placeholder="{{ 'State'  }}" /> -->
                        </div>

                        <div class="spacer-top">
                            <label>Address Type: </label><br>
                            <p-dropdown [options]="addressType" name="bCountryID" [(ngModel)]="address.AddressTypeID"
                                autoWidth="false" [style]="{'width':'52%'}" placeholder="Address Type"></p-dropdown>
                        </div>

                        <div class="spacer-top">
                            <p-checkbox [(ngModel)]="address.IsDefaultAddress" binary="true"></p-checkbox>
                            &nbsp;<label>Set Default Address </label><br>
                        </div>
                        <div class="text-left">
                            <button style="color: honeydew; margin-top: 10%;" pButton type="button"
                                label="Save to Delivery Address" (click)="SaveAddress()"
                                class="btn ui-button-warning btn-block ui-btn-custom-out"></button>
                            <button style="color: rgb(128, 134, 128); margin-top: 10%;" pButton type="button"
                                label="Cancel" (click)="Cancel()"
                                class="btn ui-button-danger btn-block ui-btn-custom-out"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-2">

    </div>
</div>