label{
    font-weight: 700;
    font-size: medium;
}
.spacer-left{
    padding-left: 5%;
}

.spacer-top{
    padding-top: 2%;
}

.ui-btn-custom-out {
    font-size: larger;
    padding: 5%;
    padding: 1.019em 1em !important;
    font-weight: 700;
    width: 40%;
  }
  