<div class="ui-g">
    <!-- <div class="ui-g-12 ui-md-8">
        <iframe width="100%" height="500" [src]="topicUrl | safe :'resourceUrl'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div> -->


    <div>
        <div class="row">

            <!-- <div class="col-lg-8" 
            *ngIf="!IsPreview" style="
            background-image: url(../assets/Uploads/ProductThumbnail/fe515864-9229-4042-9135-23b5f38bf554.jpg);
            height: 650px;
            width: 60%;
            color: #fff;
            padding-top: 5%;
            padding-left: 4%;
            background-repeat: no-repeat;
            background-size: cover;
          "> 
            </div> -->

            <div class="col-lg-8" *ngIf="!IsPreview">
                <h1>{{CourseInfo.CourseTitle}}</h1>
                <img src="{{srcUrlCourseThumbnail + CourseInfo.CourseImage}}" width="80%" height="100%">
            </div>
            <div class="col-lg-8" *ngIf="IsPreview">
                <div [hidden]="selectedTopic.topicType !='Video'">

                    <div class="row">
                        <div class="col-lg-12" style="margin-top: 10px;">
                            <video #topicVideo id="topicVideo" width="100%" height="640"
                                src="{{selectedTopic.topicUrl}}" controls></video>
                        </div>
                        <button pButton type="button" (click)="saveTopicProgress()" label="Save Topic Progress"
                            class="ui-button-raised ui-button-danger"></button>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{selectedTopic.topicTitle}}</h3>
                            <!-- <div innerHTML="{{currentTopicDetail.TopicDescription}}"></div> -->
                        </div>
                    </div>
                </div>
                <div [hidden]="selectedTopic.topicType !='Audio'">
                    <!-- <div *ngIf="AudioUrl" class="flex-box"> -->
                    <div class="row">
                        <div class="col-lg-12">
                            <video width="100%" height="640" src="{{selectedTopic.topicUrl}}" controls></video>
                            <!-- <audio width="100%" height="640"  controls src="{{selectedTopic.topicUrl}}"></audio> <br /> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{selectedTopic.topicTitle}}</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div [hidden]="selectedTopic.topicType !='PDF'">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{selectedTopic.topicTitle}}</h3>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div innerHTML="{{selectedTopic.topicDescription}}"></div>
                            <!-- <ngx-extended-pdf-viewer [src]="selectedTopic.topicUrl" useBrowserLocale="true"
                                height="80vh">
                            </ngx-extended-pdf-viewer> -->
                            <iframe width="100%" height="800" [src]="selectedTopic.topicUrl | safe :'resourceUrl'"
                                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!-- <iframe width="100%" height="500" [src]="selectedTopic.topicUrl | safe :'resourceUrl'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                <!-- <div [hidden]="!zipPreview">
                    <div *ngIf="ZipUrl" class="flex-box">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>{{currentTopicDetail.TopicTitle}}</h3>
                                <div innerHTML="{{currentTopicDetail.TopicDescription}}"></div>
                            </div>
                        </div> <br>
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="document-div">
                                    <div>
                                        {{currentTopicDetail.TopicTitle}}
                                    </div>
                                    <div (click)="download(currentTopicDetail.TopicFileName)">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div [hidden]="selectedTopic.topicType !='Quiz'">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{selectedTopic.topicTitle}}</h3>
                            <div innerHTML="{{selectedTopic.topicDescription}}"></div>
                        </div>
                    </div> <br>
                    <app-quiz-preview [QuizID]="QuizpreviewID" [CourseID]="courseID" [TopicID]="currentTopicID">
                    </app-quiz-preview>
                </div>
                <!-- <label>{{pdfSrc}}</label> -->

            </div>
            <div class="col-lg-4">
                <h3>Topics</h3>
                <p-treeTable [value]="nestedTreeNode" [columns]="cols" selectionMode="single"
                    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
                    [resizableColumns]="true">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns" [style.width]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of cols" ttResizableColumn>
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                            <td *ngFor="let col of columns; let i = index">
                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                {{rowData[col.field]}}


                                <!-- <circle-progress [percent]="99" [showSubtitle]="false" [subtitleFontSize]="2"
                                    [radius]="18" [outerStrokeWidth]="2" [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#fff'" [animation]="true"
                                    [animationDuration]="3000">
                                </circle-progress>-->
                            </td> 
                            <td>
                                <circle-progress [percent]="99" [showSubtitle]="false" [subtitleFontSize]="2"
                                    [radius]="18" [outerStrokeWidth]="2" [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#fff'" [animation]="true"
                                    [animationDuration]="3000">
                                </circle-progress>
                            </td>

                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>
        </div>
    </div>


    <!-- <div class="row">
        <div class="col-lg-12">
            <br>
            <label class="">
                Course content
            </label>
            <div class="scroll-div1">
                <p-tree [value]="nestedTopics" [style]="{'width':'100%'}" selectionMode="single"
                    (onNodeUnselect)="nodeUnSelect($event)" (onNodeSelect)="nodeSelect($event)"></p-tree>
            </div>
        </div>
    </div> -->

    <!-- <p-treeTable [value]="nestedTopics">
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.CourseID}}


                </td>
                <td>{{rowData.data}}
                    hello
                </td>
            </tr>
        </ng-template>
    </p-treeTable> -->


</div>