
<div class="registration-page">
    <div class="form">
        <h2 id="fromh2">Create Account</h2>
        <div class="">

            <input type="text" placeholder="First Name" />
            <input type="text" placeholder="Last Name" />
            <input type="text" placeholder="Email address" />
            <input type="text" placeholder="Mobile Number" />
            <input type="password" placeholder="password" />
            
            <button>create</button>
            <p class="message">Already registered? <a href="#" (click)="login()">Sign In</a></p>
        </div>
        <!-- <form class="login-form" (submit)="loginUser($event)">
            <input type="text" placeholder="username" id="username" />
            <input type="password" placeholder="password" id="password" />
            <input id="subbutton" type="submit" value="Submit">

            <p class="message">Not registered? <a href="#" (click)="display=false">Login</a></p>
        </form> -->
    </div>
</div>
