<div *ngIf="this.cart.ListCartDetails == null">
    <div class="text-center">
        <img style="height: 50%; width: 50%;" src="../../../assets/images/emptycart.png">
        <div>
            <h3>Your cart is empty!</h3>
        </div>
        <div class="_2VeR_A">It's a good day to buy the items you saved for later!</div>
    </div>
</div>

<div *ngIf="this.cart.ListCartDetails != null">
    <p-dialog header="Log-In" position="top" [(visible)]="display" styleClass="mydialog" [modal]="true"
        [style]="{width: '25%'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <app-login (loginEvent)="loginEvent($event)"></app-login>
    </p-dialog>
    <div class="row">
        <div class="col-sm-9">
            <p-dataView [value]="cart.ListCartDetails">
                <p-header>
                    <h2>Cart List Products</h2>
                </p-header>
                <ng-template let-product pTemplate="listItem">

                    <div class="row" style="border-bottom: gray solid 1px; width: 100%;">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-2" style="padding-top: 2%; padding-bottom: 2%;">
                                    <img width="100" height="100"
                                        src="{{ productThumbnailUrl + product.productDetail.ProductImage }}" />
                                </div>
                                <div class="col-sm-10">
                                    <div
                                        style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                                        <a (click)="viewProduct('/productdetails', product.productDetail.ID)">
                                            {{ product.productDetail.ProductName }}
                                        </a>
                                    </div>
                                    <div
                                        style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                                        <span style="font-size: larger; font-weight: 700;">
                                            $ {{ product.productDetail.SalePrice }}
                                        </span>
                                        &nbsp;&nbsp;
                                        <span style="text-decoration: line-through;">
                                            {{ product.productDetail.Price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row text-right" style="margin-top: 15%;">
                                <div class="col-sm-3 text-center">
                                    <button mat-icon-button [disabled]="product.Quantity === 1" style="color: #313837;"
                                        (click)="removeQuantity(product)">
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <h4 style="color: gray; font-weight: 800;">{{product.Quantity}}</h4>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <button mat-icon-button style="color: #313837;" (click)="addQuantity(product)">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <button mat-icon-button style="color: crimson;" (click)="removeFromCart(product)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
            <div class="text-right">
                <h3>Subtotal ({{cart.ListCartDetails.length}} items): $ {{cart.Subtotal}}</h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center">
                <div style="background-color:lightgray; padding: 10%;">
                    <h5>Subtotal ({{cart.ListCartDetails.length}} items): $ {{cart.Subtotal}}</h5>
                    <h5>Applicable Tax : $ {{cart.TotalTax}}</h5>
                    <h3>Total : $ {{cart.Total}}</h3>
                </div>
                <button style="color: honeydew; margin-top: 10%;" pButton type="button" label="Proceed To Buy"
                    (click)="proceedToBuy('/address', cart.ID)"
                    class="btn ui-button-warning btn-block ui-btn-custom-out"></button>
            </div>
        </div>
    </div>
</div>