<p-header style="color: orangered;">
  <h3>Search Cources</h3>
</p-header>

<div>
  <p-dataView [value]="pagedResult.Result" [paginator]="true" [rows]="pageSize" [lazy]="true" [totalRecords]="pagedResult.Count" (onLazyLoad)="loadData($event)">
    <ng-template let-search pTemplate="listItem">
      <div class="row" style="padding: 10px;">
        <div class="col-sm-2">
          <img width="200" height="200" src="{{ courseImageUrl + search.CourseImage }}" />
        </div>
        <div class="col-sm-8" style="margin-left: 10px;">
          <h3 style="font-weight:600">{{search.CourseTitle}}</h3>
          <h6>{{search.CourseDescription}}</h6>
          <div style="color: darkgoldenrod; font-weight: 600; margin-left: 0%; margin-right: 65%;">
            {{ search.Rating }} &#8902;&#8902;&#8902;&#8902;&#8902;
          </div>
          <div>
            <i class="pi pi-chevron-circle-right" style="font-size: 0.9em; vertical-align: super;">{{ search.Lectures }}
              Lectures </i>&nbsp;&nbsp;
            <i class="pi pi-clock" style="font-size: 0.9em; vertical-align: super;">{{ search.Hours }}
              Hours</i>&nbsp;&nbsp;
            <i class="pi pi-sliders-v" style="font-size: 0.9em; vertical-align: super;">{{ search.Levels }} Levels
            </i>
          </div>
          <hr>
        </div>
        <div class="col-sm-1"  style="vertical-align: middle;">
          <div>
            <span style="text-decoration: line-through;">
              {{ search.SalePrice }}</span>
          </div>
          <div>
            <span style="font-size: larger;">
              {{ search.OriginalPrice }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

