<countdown #cd style="font-weight: bolder; font-size: xx-large; color: lightcoral;"
    [ngStyle]="{'display':quiz.isQuizSubmission === true ? 'none' : 'display'}"
    [config]=" {leftTime: quiz.QuizDuration, stopTime: [ 0 ], demand: true, format: 'mm:ss' }"
    (event)="handleEvent($event)">
</countdown>
<p-confirmDialog #confirm() [style]="{width: '30vw;'}"></p-confirmDialog>
<div class="col-lg-12">
    <div class="text-center" *ngIf="!quiz.isQuizSubmission && !quizStart">
        <button pButton type="button" label="Start Quiz" class="ui-button-rounded ui-button-info"
            (click)="confirmStart(cd)"></button>
    </div>
</div>



<div class="row" *ngIf="quiz.isQuizSubmission || quizStart">
    <div class="text-center" *ngIf="!isSubmit && !quiz.isQuizSubmission">
        <button pButton type="button" label="Submit Answer" class="ui-button-rounded ui-button-success"
            (click)="confirmToSubmit(cd)"></button>
    </div>

    <div class="text-center" *ngIf="quiz.isQuizSubmission && quiz.ShowResultAfterSubmission">
        <button pButton type="button" label="Show Result" class="ui-button-rounded ui-button-success"
            (click)="showResult()"></button>
        <app-show-result> [TotalQuestions]="quiz.QuestionList.length" [TotalMarks]="TotalMarks"
            [WrongAnswer]="quiz.GetMarks" [CorrectAnswer]="quiz.GetMarks" [isShowResult]="isShowResult"
        </app-show-result>
        <!-- <div *ngIf="isShowResult" class="text-center">
            <h1 style="color: #5e9ca0;">Your quiz result!</h1>
            <h2 style="color: #2e6c80;">Result Statistics:</h2>
            <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
                <li style="clear: both;  color: darkgreen;"><img style="float: center;"
                        src="https://html-online.com/img/04-replace.png" alt="interactive connection" width="30" />You
                    Got Marks: {{quiz.GetMarks}}</li>
                <li style="clear: both; color: indigo;"><img style="float: center;"
                        src="https://html-online.com/img/05-gibberish.png" alt="html cleaner" width="30" /> Total
                    Question: {{quiz.QuestionList.length}}</li>
                <li style="clear: both;  color: blue;"><img style="float: center;"
                        src="https://html-online.com/img/6-table-div-html.png" alt="Word to html" width="30" /> Total
                    Marks: {{quiz.TotalMarks}}</li>
            </ol>
        </div> -->
    </div>
    <br>
    <p-dataView *ngIf="!isSubmit" [value]="quiz.QuestionList" [paginator]="true" [rows]="quiz.QuestionPerPage">
        <p-header>
            <h3>{{quiz.QuizTitle}}</h3>
        </p-header>
        <ng-template let-question pTemplate="listItem">
            <div class="row list-group-item active">
                <div class="col-lg-10">
                    Q. : {{question.QuestionTitle}}
                </div>
                <div class="col-lg-2 text-right" style="font-weight: 700;">
                    Marks : {{question.Marks}}
                </div>
            </div>
            <div class="list-group-item badge badge-pill badge-light text-left">
                Help Text : {{question.HelpText}}
            </div>
            <div *ngIf="question.QuestionTypeID != 3">

                <ul class="list-group">
                    <li class="list-group-item" style="padding-left: 20px;"
                        *ngFor="let option of question.QuestionOptions let idx = index">
                        <div style="width: 100%;" class="row" *ngIf="question.QuestionTypeID == 1" [ngStyle]="{'background-color':option.IsCorrect === true && quiz.ShowCorrectAnswer === true && quiz.isQuizSubmission == true ?
                             'lightgreen' : option.IsCorrect === false && option.IsChecked == true && quiz.ShowCorrectAnswer === true  ?
                              'salmon' : 'transparent'  }">
                            <p-radioButton value="{{option.ID}}" label={{option.name}}
                                [(ngModel)]="question.Answer.AnswerSingle"
                                name="{{question.ID}}_Single">
                            </p-radioButton>
                            {{option.Name}}
                        </div>
                        <div style="width: 100%;" class="row" *ngIf="question.QuestionTypeID == 2" [ngStyle]="{'background-color':option.IsCorrect === true && quiz.ShowCorrectAnswer === true && quiz.isQuizSubmission == true ?
                             'lightgreen' : option.IsCorrect === false && option.IsChecked == true  && quiz.ShowCorrectAnswer === true  ?
                              'salmon' : 'transparent' }">
                            <p-checkbox value="{{option.ID}}" label="{{option.name}}" [disabled]="quiz.isQuizSubmission"
                                [(ngModel)]="question.Answer.AnswerMultiple" [(binary)]="option.IsChecked"
                                name="{{question.ID}}_Multiple">
                            </p-checkbox>
                            {{option.Name}}
                        </div>
                    </li>
                </ul><br>
            </div>
            <div *ngIf="question.QuestionTypeID == 3">
                <textarea class="form-control" rows="5" [(ngModel)]="question.Answer.AnswerText"
                    [disabled]="quiz.isQuizSubmission" placeholder="Enter your answer here .."> </textarea><br>
            </div>
        </ng-template>
    </p-dataView><br>
</div>

<div *ngIf="isSubmit">
    <app-thankyou></app-thankyou>
</div>