<div class="container-fluid bg-sub">
    <div class="row">
        Development >> JAVA
    </div>
</div>

<div class="container-fluid" class="conten-w text-center">
    <div class="text-left" style="width:60%">
        <h1>{{productDetail.ProductName}}</h1>
        <!-- <h5>{{productDetail.ProductDescription}}</h5> -->
        <p>Last updated: {{productDetail.ModifiedDate | date: "MM/yyyy" }}</p>
    </div>
</div>

<div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
    <div class="row">
        <div class="col-lg-8">
            <h3>Description</h3>
            <p>
                {{productDetail.ProductDescription | stripTags}}
            </p>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid cart-bl">
                <img width="100%" height="40%" src="{{ productThumbnailUrl + productDetail.ProductImage }}" />
                <div class="row">
                    <div class="col-sm-4">
                        <h2 style="color: #505763; font-weight: 700;">₹{{productDetail.SalePrice}} </h2>
                    </div>
                    <div class="col-sm-4">
                        <h3 style="text-decoration: line-through; padding-top: 3px; font-weight: 600;">
                            {{productDetail.Price}}</h3>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div>
                    <div *ngFor="let productFeature of productDetail.ListProductTypeFeature">
                        <h6> <img src="{{ featureProductUrl + productFeature.FeatureImage }}" />
                            {{productFeature.DisplayName +": " }}
                            <span *ngFor="let featureValue of productFeature.ListProductFeatureValue; let i = index">
                                {{ (i > 0) ? "," : ""}}
                                {{ (productFeature.FeatureTypeName != 'List') ? featureValue.Value : featureValue.OptionName}}
                            </span></h6>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button pButton type="button" label="Add to cart" (click)="addToCart(productDetail)"
                        class="btn ui-button-danger btn-block ui-btn-custom"></button>
                </div>
                <br>
                <div class="text-center">
                    <button pButton type="button" label="Buy Now"
                        (click)="viewCartProduct('/viewcart', productDetail.ID)"
                        class="btn ui-button-warning btn-block ui-btn-custom-out"></button>
                </div>

            </div>
        </div>
    </div>
</div>