.bg-sub{
    background-color: #f7f8fa;
    padding: 10px; font-weight: 500;
    padding-left: 30px; 
}

.conten-w{
    background-color: #29303B; 
    height: 220px; 
    width: 100%; 
    padding: 10%; 
    color: #FFFFFF;
}

.cart-bl{
    background-color: #F9F9F9; 
    height: 500px; 
    position: sticky !important; 
    margin-top: -40% !important;
    padding-top: 10px;
}

.ui-btn-custom {
    background-color: #EA5252; padding: 1.019em 1em !important; font-weight: 700;
}

.ui-btn-custom-out {
    background-color: #F9F9F9; padding: 1.019em 1em !important; font-weight: 700;
}