<!-- <div class="success-page">
    <img src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
    <h2>Payment Successful !</h2>
    <p>We are delighted to inform you that we received your payments</p>
    <a href="#" class="btn-view-orders">View Orders</a>
    <a href="#">Continue Shopping</a>
</div> -->


<div id="invoice-POS">
	<div id="top">
		<div class="logo"></div>
		<p style="font-weight: 600; font-size: x-large; margin-top: -1px ">LMS</p>
		<div>
			<p style="color: darkcyan; font-weight: 600; font-size: large; ">Payment Successful!</p>
		</div>
		<!--End Info-->
	</div>
	<!--End InvoiceTop-->
	<div id="mid">
		<div class="info">
			<h2>Contact Info</h2>
			<div>
				Name : {{address.FullName}}<br>
			</div>
			<div>
				Address : {{address.HouseBuildingCompanyApartment}}<br>
			</div>
			<div>
				Phone : {{address.MobileNumber}}<br>
			</div>
		</div>
	</div>
	<!--End Invoice Mid-->

	<div id="bot">
		<div id="table">
			<table>
				<tr class="tabletitle">
					<th class="item">
						<h2>Item</h2>
					</th>
					<th class="Hours">
						<h2>Qty</h2>
					</th>
					<th class="Rate">
						<h2>Sub Total</h2>
					</th>
				</tr>

				<tr class="service" *ngFor="let CartDetails of cart.ListCartDetails">
					<td class="tableitem">
						<p class="itemtext">{{CartDetails.ProductName}}</p>
					</td>
					<td class="tableitem">
						<p class="itemtext">{{CartDetails.Quantity}}</p>
					</td>
					<td class="tableitem">
						<p class="itemtext">${{CartDetails.SalePrice}}</p>
					</td>
				</tr>

				<tr class="tabletitle">
					<td></td>
					<td class="Rate">
						<h1>Tax</h1>
					</td>
					<td class="payment">
						<h1>${{cart.TotalTax}}</h1>
					</td>
				</tr>

				<tr class="tabletitle">
					<td></td>
					<td class="Rate">
						<h1>Total</h1>
					</td>
					<td class="payment">
						<h1>${{cart.Total}}</h1>
					</td>
				</tr>
				<tr class="tabletitle">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
		<!--End Table-->

		<div id="legalcopy">
			<p>We are delighted to inform you that we received your payments</p>
			<p class="legal"><strong>Thank you for your business!</strong>  Payment is expected within 31 days;<br>
				please process this invoice within that time. There will be a 5% interest charge per month on late
				invoices.
			</p>
		</div>

	</div>
	<!--End InvoiceBot-->
</div>
<!--End Invoice-->

<br><br><br>
<table>
	<tr class="tabletitle">
		<td><button (click)="openPDF()">Open To PDF</button></td>
		<td>&nbsp;</td>
		<td><button (click)="downloadPDF()">Export To PDF</button></td>
	</tr>
</table>