<!-- <div id="body">
    <div class="container-fluid"
        style="background-color: #f7f8fa; height:10%; width: 100%; padding-left: 30px; padding-top: 0px; padding-bottom: 0px; text-align: center;">
        <div class="row">
            <h3 style="color: darkgreen;  "><span><img style="height:160px; width: 200px"
                        src="/assets/images/lernpress.png"></span>Welcome to Student learning program</h3>
        </div>
    </div> -->
<div *ngIf="isRegistration === false" class="login-page">
    <div class="form">
        <h2 id="fromh2">Login Here!</h2>
        <!-- <form class="register-form">

                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form> -->
        <form class="login-form" (submit)="loginUser($event)">
            <input type="text" placeholder="username" id="username" />
            <input type="password" placeholder="password" id="password" />
            <input id="subbutton" type="submit" value="Submit">
        </form>
        <p class="message">Not registered? <a (click)="createAccount()">Create an account</a></p>
    </div>
</div>

<div *ngIf="isRegistration === true" class="registration-page">
    <div class="form">
        <h2 id="fromh2">Create Account</h2>
        <form class="registration-form" (submit)="userRegistration($event)">
            <input type="text" placeholder="First Name" id="firstname" />
            <input type="text" placeholder="Last Name" id="lastname" />
            <input type="text" placeholder="Email address" id="email" />
            <input type="text" placeholder="Mobile Number" id="mobileno" />
            <input type="password" placeholder="password" id="npassword" />

            <!-- <button (click)="userRegistration($event)">create</button> -->
            <input id="subbutton" type="submit" value="Submit">
        </form>
        <p class="message">Already registered? <a (click)="login()">Sign In</a></p>
        <!-- <form class="login-form" (submit)="loginUser($event)">
                <input type="text" placeholder="username" id="username" />
                <input type="password" placeholder="password" id="password" />
                <input id="subbutton" type="submit" value="Submit">

                <p class="message">Not registered? <a href="#" (click)="display=false">Login</a></p>
            </form> -->
    </div>
</div>
<!-- </div> -->