<h2>Course Details</h2>


<div class="ui-g">
    <div class="ui-g-12 ui-md-8">
        <p-scrollPanel [style]="{width: '100%', height: '100%'}">
            <div style="padding:1em;line-height:1.5">
                <iframe width="600" height="600" [src]='safeSrc' controls="controls" autoplay=false frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </p-scrollPanel>
    </div>

    <div class="ui-g-12 ui-md-4" style="align-content: stretch;">
        <p-header>
            Topics
        </p-header>

        <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar2">
            <p-listbox [options]="topicObject" optionLabel="topicTitle"></p-listbox>
        </p-scrollPanel>
    </div>
</div>