.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    background-color: #FBBD11;
    color: #fff;
    font-weight: 700;
}

.mat-button{
    color: #fff !important;
}

.main-content {
    padding:20px;
}


mat-icon{
    color: #fff; 
}

.sadder{
    padding: 14px;
    font-size: xx-large;
    font-weight: 600;
}


