


<div class="container-fluid" class="bg-sub">
  <div class="row">
    <div *ngFor="let column of rootCategory" class="col-sm-3">
      <div class="class_name subcat-tk" (mouseenter)="overlayEventSubcategory($event, column)"
        (mouseleave)="subCategoryScreenHide()">
        <img width="20" height="20" src="{{ srcUrlProductCategory + column.ImageSmall }}" />
        <span style="font-size: 1.2em; vertical-align: middle;">
          {{ column.CategoryName }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showSubCategory" class="subcat-se">
  <p-table [value]="subCategory" [resizableColumns]="true">
    <ng-template pTemplate="body" let-category>
      <td class="subcat-re">
        <div class="center-al">
          <img width="40" height="40" src="{{ categoryImageUrl + category.IconName }}" />
        </div>
        <div>
          <span style="font-size: 1.5em;">{{ category.CategoryName }}</span>
        </div>
      </td>
    </ng-template>
  </p-table>
</div>

<div class="banner-s">
  <div>
    <h1>Ready for anything</h1>
  </div>
  <div>
    <h3>
      Start the new financial year right. Learn for as low as ₹420 through April
      17.
    </h3>
  </div>
</div>

<div *ngIf="this.subscribeCourse.length === 0">
  <div class="text-center">
      <img src="../../../assets/images/subscribe.png">
      <div>
          <h3>Your are not subscribe any course!</h3>
      </div>
      <div class="_2VeR_A">It's a good buy a course</div>
  </div>
</div>

<div *ngIf="this.subscribeCourse.length > 0" >
  <p-carousel [value]="subscribeCourse" [numVisible]="4" [numScroll]="3" [circular]="false">
    <p-header style="color: orangered;">
      <h3>Let's start learning,</h3>
    </p-header>
  
    <ng-template let-userCours pTemplate="item">
      <div class="car-details">
        <div class="p-grid p-nogutter">
          <div (mouseenter)="overlayEventCourse(opCourse, $event, userCours)" (mouseleave)="opCourse.hide()"
            class="p-col-12 car-data" (click)="viewCourse('/coursedetails', userCours.ID)">
            <div>&nbsp;</div>
            <img width="200" height="200" src="{{ srcUrlCourseThumbnail + userCours.CourseImage }}" />
            <div>&nbsp;</div>
            <div class="car-title" style="color: #474747; font-weight: 900; font-size: larger;">
              {{ userCours.CourseTitle }}
            </div>
            <div style="
                color: darkgoldenrod;
                font-weight: 600;
                margin-left: 0%;
                margin-right: 65%;
              ">
              {{ userCours.Rating }} &#8902;&#8902;&#8902;&#8902;&#8902;
            </div>
            <div class="car-title" style="text-align: justify;">
              <span style="text-decoration: line-through;">
                {{ userCours.OriginalPrice }}</span>
              &nbsp;&nbsp;
              <span style="font-size: larger;"> {{ userCours.SalePrice }} </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <!-- we need to fix this overlay position  -->
  <p-overlayPanel #opCourse [appendTo]="'body'">
    <div class="" style="height: 260px; width: 240px;">
      Last updated: {{ selectedCourse.ModifiedDate | date: "MM/yyyy"  }}
      <h4 style="color: #686f7a;">
        <b><i>{{ selectedCourse.CourseTitle }}</i></b>
      </h4>
      <h6>{{ selectedCourse.CourseDescription | stripTags }}</h6>
  
      <h6>Author: {{ selectedCourse.AuthorName }}</h6>
      <div>
        <i class="pi pi-chevron-circle-right"
          style="font-size: 0.9em; vertical-align: super;">{{ selectedCourse.Lectures }} Lectures </i>&nbsp;&nbsp;
        <i class="pi pi-clock" style="font-size: 0.9em; vertical-align: super;">{{ selectedCourse.Hours }}
          Hours</i>&nbsp;&nbsp;
        <i class="pi pi-sliders-v" style="font-size: 0.9em; vertical-align: super;">{{ selectedCourse.LevelsID }} Levels
        </i>
      </div>
    </div>
  </p-overlayPanel>
</div>



<div style="padding-top: 50px;">
  <h2>What to learn next</h2>
  <h4>Topics recommended for you</h4>
  <p-carousel [value]="learnCourse" [numVisible]="6" [numScroll]="1" [circular]="true">
    <ng-template let-learnCourse pTemplate="item">
      <div class="car-details">
        <div class="row" style="margin: 20px;">
          <div style="
              box-shadow: 2px 2px 2px 2px grey;
              padding: 15px 15px 15px 15px;
              background-color: #f7f8fa;
            " class="col-sm-12" (click)="viewCategory('/cource', learnCourse.ID)">
            <div class="car-title" style="color: #474747; font-weight: 500; font-size: medium;">
              {{ learnCourse.CourseTitle }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div style="padding-top: 50px;">
  <h2>Featured Course</h2>
  <p-carousel [value]="learnCourse" [numVisible]="5" [numScroll]="1" [autoplayInterval]="100000" [circular]="true">
    <p-header style="color: orangered;">
      <h3>Recommended Course</h3>
    </p-header>
    <ng-template let-course pTemplate="item">
   
      <div class="car-details">
        <div class="p-grid p-nogutter">
          <div class="p-col-12" (mouseenter)="overlayEventCourse(opAllCourse, $event, course)" (mouseleave)="opAllCourse.hide()"  (click)="viewCourse('/coursedetails', course.ID)">
            <div>&nbsp;</div>
            <img width="200" height="200" src="{{ courseImageUrl + course.CourseImage }}" />
            <div>&nbsp;</div>
            <div class="car-title" style="color: #474747; font-weight: 900; font-size: larger;">
              {{ course.CourseTitle }}
            </div>
        
            <div style="
                color: darkgoldenrod;
                font-weight: 600;
                margin-left: 0%;
                margin-right: 65%;
              ">
              <!-- {{ course.Rating }} &#8902;&#8902;&#8902;&#8902;&#8902; -->
            </div>
            <div class="car-title" style="text-align: justify;">
              <span style="text-decoration: line-through;">
                {{ course.OriginalPrice }}</span>
              &nbsp;&nbsp;
              <span style="font-size: larger;">
                {{ course.SalePrice }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <p-overlayPanel #opAllCourse appendTo="body">
    <div class="" style="height: 260px; width: 240px;">
      Last updated: {{ selectedAllCourse.ModifiedDate | date: "MM/yyyy" }}
      <h4 style="color: #686f7a;">
        <b><i>{{ selectedAllCourse.CourseTitle }}</i></b>
      </h4>
      <h6>{{ selectedAllCourse.CourseDescription }}</h6>
      <h6>Author: {{ selectedAllCourse.AuthorName }}</h6>
      <div>
        <i class="pi pi-chevron-circle-right"
          style="font-size: 0.9em; vertical-align: super;">{{ selectedAllCourse.Lectures }} Lectures</i>&nbsp;&nbsp;
        <i class="pi pi-clock" style="font-size: 0.9em; vertical-align: super;">{{ selectedAllCourse.Hours }}
          Hours</i>&nbsp;&nbsp;
        <i class="pi pi-sliders-v" style="font-size: 0.9em; vertical-align: super;">{{ selectedAllCourse.LevelsID }}
          Levels
        </i>
      </div>
      <div class="row sticky">
        <div class="col-sm-12">
          <button pButton type="button" label="Add to cart" class="ui-button-raised ui-button-danger"></button>
        </div>
      </div>
    </div>
  </p-overlayPanel>
</div>