.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-details
  > .p-grid {
  border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-subtitle {
  margin: 0.25em 0 2em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button {
  margin-left: 0.5em;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button:first-child {
  margin-left: 0;
}
.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-start
  .car-details
  > .p-grid {
  margin-left: 0.6em;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-end
  .car-details
  > .p-grid {
  margin-right: 0.6em;
}

.banner-s {
  background-image: url(../../../assets/images/banner.jpg);
  height: 350px;
  width: 100%;
  color: #fff;
  padding-top: 5%;
  padding-left: 4%;
  background-repeat: no-repeat;
  background-size: cover;
}

.subcat-re {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.subcat-se{
    position: absolute;
    background-color: #29303b;
    color: white;
    padding: 10px;
}
.center-al{
    text-align: center;
}

.bg-sub{
    background-color: #f7f8fa;
}
.subcat-tk{
    text-align: center; padding: 10px; font-weight: 500;
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
  th.ui-p-1,
  td.ui-p-1 {
    display: table-cell;
  }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
  th.ui-p-2,
  td.ui-p-2 {
    display: table-cell;
  }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
  th.ui-p-3,
  td.ui-p-3 {
    display: table-cell;
  }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
  th.ui-p-4,
  td.ui-p-4 {
    display: table-cell;
  }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
  th.ui-p-5,
  td.ui-p-5 {
    display: table-cell;
  }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
  th.ui-p-6,
  td.ui-p-6 {
    display: table-cell;
  }
}

.class_name:hover {
  background-color: #e8e9eb;
}

.sticky {
  position: absolute;
  bottom: 10px;
}

.ui-carousel-dots-container ui-helper-reset {
  display: none;
}
