<!-- <mat-sidenav #sidenav closed mode="side" position="start"> -->

<p-dialog header="Log-In" position="top" [(visible)]="display" styleClass="mydialog" [modal]="true"
  [style]="{width: '30%'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <app-login (loginEvent)="loginEvent($event)"></app-login>
</p-dialog>


<mat-sidenav-container fullscreen>
  <!-- <mat-sidenav #sidenav closed mode="side" position="start">
    <div class="sadder">
      <span>

        <mat-icon>insert_emoticon</mat-icon>&nbsp;My Account
      </span>
    </div>
    <mat-nav-list>
      <a style="color: #fff; " [routerLink]="['/home']" mat-list-item href="#">Home</a>
      <a *ngIf="isLoggedin === 'true'" style="color: #fff; " [routerLink]="['/mycourse']" mat-list-item
        href="#">MyCources</a>
      <a *ngIf="isLoggedin === 'true'" style="color: #fff;" [routerLink]="['/myprofile']" mat-list-item
        href="#">MyProfile</a>
      <a *ngIf="isLoggedin === 'true'" style="color: #fff;" [routerLink]="['/address']" mat-list-item
        href="#">Address</a>
      <a *ngIf="isLoggedin === 'true'" style="color: #fff;" [routerLink]="['/orders']" mat-list-item href="#">Orders</a>
      <a *ngIf="isLoggedin !== 'true'" style="color: #fff; " (click)="login()" mat-list-item href="#">Login</a>
      <a *ngIf="isLoggedin === 'true'" style="color: #fff; " (click)="logoutEvent()" mat-list-item href="#">Logout</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar color="accent" class="mat-elevation-z6">
      <!-- <a mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </a> -->
      <span>
        LMS App
      </span>
      <div class="spacer">
       
      </div>
      <div class="ui-inputgroup">
        <input style="border-radius: 20px; border: 0px; font-weight: 300;" pInputText [(ngModel)]="searchKey"
          (keydown.enter)="viewSearch('/searchresult', searchKey)" placeholder="    Search for anything" />
        <a mat-button (click)="viewSearch('/searchresult', searchKey)">
          <mat-icon>search</mat-icon>
        </a>
      </div>
      <!-- <a mat-button  [matMenuTriggerFor]="menu">User</a>
      <mat-menu  #menu="matMenu" class="sub-menu">
        <a *ngIf="isLoggedin === 'true'" mat-menu-item  [routerLink]="['/mycourse']">MyCources</a>
        <a *ngIf="isLoggedin === 'true'" mat-menu-item  [routerLink]="['/myprofile']">MyProfile</a>
        <a *ngIf="isLoggedin === 'true'" mat-menu-item  [routerLink]="['/address']">Address</a>
      </mat-menu> -->
      <a mat-button [routerLink]="['/home']"> Home</a>
      <a *ngIf="isLoggedin === 'true'" mat-button (click)="menu.toggle($event)">User</a>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <!-- <a *ngIf="isLoggedin === 'true'" mat-button [routerLink]="['/mycourse']">MyCources</a>
      <a *ngIf="isLoggedin === 'true'" mat-button [routerLink]="['/myprofile']">MyProfile</a>
      <a *ngIf="isLoggedin === 'true'" mat-button [routerLink]="['/address']">Address</a>
      <a *ngIf="isLoggedin === 'true'" mat-button [routerLink]="['/orders']">Orders</a> -->
      <a *ngIf="isLoggedin !== 'true'" (click)="login()" mat-button>Login</a>
      <!-- <a *ngIf="isLoggedin === 'true'" mat-button (click)="logoutEvent()">Logout</a> -->
      <a style="color: #fff;" mat-button [routerLink]="['/cartdetails']">
        <app-cart #cartrefresh #cartreset></app-cart>
      </a>

    </mat-toolbar>
    <div class="main-content">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>