.orders-li {
    background-image: url(../../../assets/images/WaitingOrders.jpg);
    height: 1000px;
    width: 100%;
    color: #fff;
    padding-top: 5%;
    padding-left: 4%;
    display: flexbox;
    background-repeat: no-repeat;
  }