<h2>Orders List</h2>
<br>

<div *ngIf="Orders.length === 0" class="orders-li">

</div>
<div *ngIf="Orders.length > 0">
    <div *ngFor="let order of Orders">
        <p-overlayPanel #opAddress appendTo="body">
            <!-- <p-dataView [value]="order.Addresses[0]">
                <ng-template let-address pTemplate="listItem" style="margin-bottom: 2%;">
                    <div>
                        <p-header>
                            <h3>{{address.FullName}}</h3>
                        </p-header>
                    </div>
                    <p>{{address.HouseBuildingCompanyApartment}}, {{address.AreaColonyStreetSectorVillage}}</p>
                    <p>{{address.Landmark}}, Pin: {{address.Pincode}}</p>
                    <p>{{address.TownCityDistrict}}, {{address.State}} ({{address.Country}})</p>
                    <div>
                        <a>{{address.MobileNumber}}</a>
                    </div>
                    <hr>
                </ng-template>
            </p-dataView> -->
            <div>
                <p-header>
                    <h3>{{order.Addresses[0].FullName}}</h3>
                </p-header>
            </div>
            <!-- <p>{{order.Addresses[0].HouseBuildingCompanyApartment}}, {{order.Addresses[0].AreaColonyStreetSectorVillage}}</p> -->
            <p>{{order.Addresses[0].Landmark}}, Pin: {{order.Addresses[0].Pincode}}</p>
            <p>{{order.Addresses[0].TownCityDistrict}}, {{order.Addresses[0].State}} ({{order.Addresses[0].Country}})
            </p>
            <div>
                <a>{{order.Addresses[0].MobileNumber}}</a>
            </div>
        </p-overlayPanel>
        <p-dataView [value]="order.OrderDetails">
            <p-header>
                <div class="row">
                    <div class="col-sm-2">
                        ORDER PLACED <br>
                        {{ order.OrderDate | date :'dd-MMM-yyyy' }}
                    </div>
                    <div class="col-sm-2">
                        TOTAL AMOUNT <br>
                        $ {{ order.Total }}
                    </div>
                    <div class="col-sm-2">
                        <a (mouseenter)="overlayEventAddress(opAddress, $event)"
                            (mouseleave)="overlayEventAddressHide(opAddress, $event)">SHIP TO </a>
                    </div>

                    <div class="col-sm-6" class="text-center">
                        ORDER # {{order.ID}}
                        <a (click)="viewOrderDetails('/orderdetails', order.ID)">Order Details </a>
                    </div>
                </div>
            </p-header>
            <ng-template let-product pTemplate="listItem">
                <div class="row"
                    style="border-bottom: lightgray solid 1px; width: 100%; padding-bottom: 1%; padding-top: 1%;">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <img width="100" height="100" src="{{ productThumbnailUrl + product.ProductImage }}" />
                            </div>
                            <div class="col-sm-10">
                                <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                                    <a (click)="viewProductDetails('/productdetails', product.ProductID)">
                                        {{ product.ProductName }}
                                    </a>
                                </div>
                                <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                                    <!-- <span style="font-size: larger; font-weight: 700;">
                                        $ {{ product.productDetail.SalePrice }}
                                    </span> -->
                                    <span style="font-size: larger; font-weight: 700;">
                                        $ {{ product.Price }}</span>
                                </div>
                            </div>
                            <!-- <button pButton type="button" label="Buy it again"
                            class="btn ui-button-info  ui-btn-custom"></button> -->
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
        <br>
    </div>
</div>