<div class="container-fluid" class="bg-sub">
  <div class="row">
    <div *ngFor="let root of rootCategory" class="col-sm-3">
      <div class="class_name subcat-tk" (mouseenter)="overlayEventSubcategory($event, root)"
        (mouseleave)="subCategoryScreenHide()">
        <img width="20" height="20" src="{{ srcUrlProductCategory + root.ImageSmall }}" />
        <span style="font-size: 1.2em; vertical-align: middle;">
          {{ root.CategoryName }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showSubCategory" class="subcat-se">
  <p-table [value]="subCategory" [resizableColumns]="true">
    <ng-template pTemplate="body" let-category>
      <td class="subcat-re">
        <div class="center-al">
          <img width="40" height="40" src="{{ srcUrlProductCategory + category.ImageSmall }}" />
        </div>
        <div>
          <span style="font-size: 1.5em;">{{ category.CategoryName }}</span>
        </div>
      </td>
    </ng-template>
  </p-table>
</div>

<div class="banner-s">
  <div>
    <h1>Ready for anything</h1>
  </div>
  <div>
    <h3>
      Upskill your people with virtual training
    </h3>
  </div>
</div>


<div style="padding-top: 50px;">
  <h2>What to learn next</h2>
  <h4>Topics recommended for you</h4>
  <div>
    <a *ngFor="let category of recommendedCategory" class="rec-cat" href="#">{{ category.CategoryName }}</a>
  </div>
</div>


<div style="padding-top: 50px;"  >
  <h2>Featured Products</h2>
  <p-carousel [value]="allProduct" [numVisible]="5" [numScroll]="1" [autoplayInterval]="100000" [circular]="true" >
    <p-header style="color: orangered;">
      <h3>All Feature Product</h3>
    </p-header>
    <ng-template let-product pTemplate="item">
      <div class="p-grid p-nogutter">
        <div class="p-col-12" (mouseenter)="overlayEventAllProduct(opAllProduct, $event, product)"
         (click)="viewProduct('/productdetails', product.ID)">
          <div>&nbsp;</div>
          <img width="200" height="200" src="{{ productThumbnailUrl + product.ProductImage }}" />
          <div>&nbsp;</div>
          <div class="car-title" style="color: #474747; font-weight: 900; font-size: larger;">
            {{ product.ProductName }}
          </div>
          <div class="rt-set">
            <!-- {{ product.Rating }} &#8902;&#8902;&#8902;&#8902;&#8902; (mouseleave)="opAllProduct.hide()"  -->
          </div>
          <div class="car-title" style="text-align: justify;">
            <span style="text-decoration: line-through;">
              {{ product.Price }}</span>
            &nbsp;&nbsp;
            <span style="font-size: larger;">
              {{ product.SalePrice }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<p-overlayPanel #opAllProduct appendTo="body">
  <div class="" style="height: 260px; width: 240px;">
    <!-- Last updated: {{ selectedProduct. | date: "MM/yyyy" }} -->
    <h3 style="color: #686f7a;">
      <b>{{ selectedProduct.ProductName }}</b>
    </h3>
    <h5 style="color: #878454;">
      <i>{{ selectedProduct.ProductDescription | stripTags }}</i>
    </h5>
    <!-- <h6>{{ selectedProduct.CourseDescription }}</h6> -->
    <div *ngFor="let productFeature of selectedProduct.ListProductTypeFeature">
      <h6> <img src="{{ featureProductUrl + productFeature.FeatureImage }}" /> {{productFeature.DisplayName +": " }}

        <span *ngFor="let featureValue of productFeature.ListProductFeatureValue; let i = index">
          {{ (i > 0) ? "," : ""}}
          {{ (productFeature.FeatureTypeName != 'List') ? featureValue.Value : featureValue.OptionName}}

        </span></h6>
      <!-- <i class="pi pi-chevron-circle-right"
        style="font-size: 0.9em; vertical-align: super;">{{ selectedProduct }} Lectures</i>&nbsp;&nbsp;
      <i class="pi pi-clock" style="font-size: 0.9em; vertical-align: super;">{{ selectedProduct }}
        Hours</i>&nbsp;&nbsp;
      <i class="pi pi-sliders-v" style="font-size: 0.9em; vertical-align: super;">{{ selectedProduct }}
        Levels
      </i> -->
    </div>
    <div class="row sticky">
      <div class="col-sm-12">
        <button pButton type="button" (click)="addToCart(selectedProduct)" label="Add to cart" class="ui-button-raised ui-button-danger"></button>
      </div>
    </div>
  </div>
</p-overlayPanel>