.banner-s {
    background-image: url(../../../assets/images/home-banner.jpg);
    height: 350px;
    width: 100%;
    color: #fff;
    padding-top: 5%;
    padding-left: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .subcat-re {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .subcat-se{
      position: absolute;
      background-color: #29303b;
      color: white;
      padding: 10px;
  }
  .center-al{
      text-align: center;
  }
  
  .bg-sub{
      background-color: #f7f8fa;
  }
  .subcat-tk{
      text-align: center; padding: 10px; font-weight: 500;
  }

  .decur {
    box-shadow: 2px 2px 2px 2px grey;
    padding: 15px 15px 15px 15px;
    background-color: #f7f8fa;
  }

  .rt-set {
    color: darkgoldenrod;
    font-weight: 600;
    margin-left: 0%;
    margin-right: 65%;
  }
  .rec-cat{
    padding-top: 50px;
    padding: 1rem 1.6rem; margin: .4rem;
    display: inline-block;
    border: 1px solid #dcdacb;
    color: #0f7c90;
    border-radius: 9999px;
    min-height: 4rem; font-weight: 500; font-size: large;
  }