<h2>Order Details</h2>

Ordered on {{ OrderBox.Order.OrderDate | date :'dd-MMM-yyyy' }} &nbsp;&nbsp;&nbsp; <a>Order# {{OrderBox.Order.ID}}</a>

<div class="row" style="border: lightgray solid 1px;">
    <div class="col-sm-3">
        <h4>Shipping Address</h4>
        <div>
            <p-header>
                <h5>{{OrderBox.OrderAddress.FullName}}</h5>
            </p-header>
        </div>
        <!-- <p>{{OrderBox.OrderAddress.HouseBuildingCompanyApartment}}, {{OrderBox.OrderAddress.AreaColonyStreetSectorVillage}}</p> -->
        <p>{{OrderBox.OrderAddress.Landmark}}, Pin: {{OrderBox.OrderAddress.Pincode}}</p>
        <p>{{OrderBox.OrderAddress.TownCityDistrict}}, {{OrderBox.OrderAddress.State}}
            ({{OrderBox.OrderAddress.Country}})</p>
        <div>
            <a>{{OrderBox.OrderAddress.MobileNumber}}</a>
        </div>
    </div>
    <div class="col-sm-3">
        <h4>Payment Method</h4>
        <div>
            <p>PaymentMethod: VISA</p>

        </div>
        <p> PaymentStatus: {{OrderBox.PaymentTansaction.PaymentSuccess}}</p>
        <p-header>
            <h5> TransactionID: {{OrderBox.PaymentTansaction.TransactionID}}</h5>
        </p-header>

    </div>
    <div class="col-sm-6 text-right">
        <h4>Order Summary</h4>
        <p>Item(s) Subtotal: $ {{OrderBox.Subtotal}}</p>
        <p>Applicable Tax: $ {{OrderBox.TotalTax}}</p>
        <p>Shipping: $ -00.00</p>
        <div>
            <p-header>
                <h4>Total: {{OrderBox.Total}}</h4>
            </p-header>
        </div>
    </div>
</div>

<div class="row" style="border: lightgray solid 1px; margin-top: 5%;" class="row">
    <div class="row" *ngFor="let product of OrderBox.Order.OrderDetails"
        style="border-bottom: lightgray solid 1px; width: 100%; padding-bottom: 1%; padding-top: 1%;">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <img width="100" height="100" src="{{ productThumbnailUrl + product.ProductImage }}" />
                </div>
                <div class="col-sm-10">
                    <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                        <a (click)="viewProductDetails('/productdetails', product.ProductID)">
                            {{ product.ProductName }}
                        </a>
                    </div>
                    <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px;">
                        <!-- <span style="font-size: larger; font-weight: 700;">
                            $ {{ product.productDetail.SalePrice }}
                        </span> -->
                        <span style="font-size: larger; font-weight: 700;">
                            $ {{ product.Price }}</span>
                    </div>
                    <div style="color: #474747; font-weight: 600; font-size: small; padding-left: 5px;">
                        <span style="font-size: larger; font-weight: 700;">
                            Qty: {{ product.Quantity }}</span>
                    </div>
                </div>
                <!-- <button pButton type="button" label="Buy it again"
                class="btn ui-button-info  ui-btn-custom"></button> -->
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-6">
        <div class="row" *ngFor="let product of OrderBox.Order.OrderDetails">
            <div class="col-sm-6">
                <img width="100" height="100" src="{{ productThumbnailUrl + product.ProductImage }}" />
            </div>
            <div class="col-sm-6">
                <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px; margin-top: 5px;">
                    <a (click)="viewProductDetails('/productdetails', product.ProductID)">{{ product.ProductName }}</a>
                </div>
                <div style="color: #474747; font-weight: 900; font-size: larger; padding-left: 5px; margin-top: 5px;">
                    &nbsp;&nbsp;
                    <span style="font-size: larger; font-weight: 700;">
                        $ {{ product.Price }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-right">

    </div> -->

</div>