<div class="row" style="padding-top: 30px;" *ngIf="isShowResult">
    <div class="col-lg-3">
        <p style="color: darkgreen; font-weight: 700; font-size: large;">Correct Answer: {{CorrectAnswer}}</p>
    </div>
    <div class="col-lg-3">
        <p style="color: crimson; font-weight: 700; font-size: large;">Wrong Answer: {{WrongAnswer}}</p>
    </div>
    <div class="col-lg-3">
        <p style="color: indigo; font-weight: 700; font-size: large;">Total Questions:
            {{TotalQuestions}}</p>
    </div>
    <div class="col-lg-3">
        <p style="color: blue; font-weight: 700; font-size: large;">Total Marks: {{TotalMarks}} </p>
    </div>
</div>
