.success-page{
    max-width:300px;
    display:block;
    margin: 0 auto;
    text-align: center;
        position: relative;
      top: 50%;
      transform: perspective(1px) translateY(50%)
  }
  .success-page img{
    max-width:62px;
    display: block;
    margin: 0 auto;
  }
  
  .btn-view-orders{
    display: block;
    border:1px solid orangered;
    width:100px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 10px;
    color:#fff;
    background-color:orangered;
    text-decoration: none;
    margin-bottom: 20px;
  }
  h2{
    color: #E77816;
      margin-top: 25px;
  
  }
  a{
    text-decoration: none;
  }

  #invoicePOS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 2mm;
    margin: 0 auto;
    width: 88mm;
    background: #fff;
    border: 2px solid gray;
    /* ::selection {
      background: #f31544;
      color: #fff;
    }
    ::moz-selection {
      background: #f31544;
      color: #fff;
    } */
  }
    h1 {
      font-size: 1.5em;
      color: #222;
      line-height: 0.2em;
    }
    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 2.2em;
      font-weight: 300;
      line-height: 2em;
    }
    p {
      font-size: .9em;
      color: #666;
      line-height: 1.4em;
    }
  
    #top,
    #mid,
    #bot {
      /* Targets all id with 'col-' */
      border-bottom: 1px solid #eee;
    }
  
    #top {
      min-height: 100px;
      text-align: -webkit-center;
    }
    #mid {
      min-height: 80px;
    }
    #bot {
      min-height: 50px;
    }
  
    #top .logo {
      /* float: left; */
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
      background-size: 60px 60px;
    }
    .clientlogo {
      float: left;
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
      background-size: 60px 60px;
      border-radius: 50px;
    }
    .info {
      display: block;
      /* float:left; */
      margin-left: 0;
    }
    .title {
      float: right;
    }
    .title p {
      text-align: right;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      /* //padding: 5px 0 5px 15px;
      //border: 1px solid #EEE */
    }
    .tabletitle {
      text-align: -webkit-center;
      font-size: 0.9em;
      background: #eee;
    }

    .service {
      border-bottom: 1px solid #eee;
      text-align: -webkit-center;
    }
    .item {
      width: 28mm;
    }
    .itemtext {
      font-size: 0.9em;
    }
  
    #legalcopy {
      margin-top: 5mm;
    }
  
  