<!-- <div class="success-page">
    <img src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
    <h2>Payment Failed !</h2>
    <p>We are sorry to inform you that we did not received your payments</p>
    <a href="#" class="btn-view-orders">Summary</a>
    <a href="#">Continue Shopping</a>
</div> -->

<div id="invoicePOS" #invoicePOS>

	<div id="top">
		<div class="logo"></div>
		<p style="font-weight: 600; font-size: x-large; margin-top: -1px ">LMS</p>
		<div>
			<p style="color: orangered; font-weight: 600; font-size: large; ">Payment UnSuccessful!</p>
		</div><!--End Info-->
	</div><!--End InvoiceTop-->

	<div id="mid">
		<div class="info">
			<h2>Contact Info</h2>
			<div>
				Name : {{address.FullName}}<br>
			</div>
			<div>
				Address : {{address.HouseBuildingCompanyApartment}}<br>
			</div>
			<div>
				Phone : {{address.MobileNumber}}<br>
			</div>
		</div>
	</div>
	<!--End Invoice Mid-->

	<div id="bot">

		<div id="table">
			<table>
				<tr class="tabletitle">
					<td class="item">
						<h2>Item</h2>
					</td>
					<td class="Hours">
						<h2>Qty</h2>
					</td>
					<td class="Rate">
						<h2>Sub Total</h2>
					</td>
				</tr>

				<tr class="tabletitle" *ngFor="let CartDetails of cart.ListCartDetails">
					<td class="tableitem">
						<p class="itemtext">{{CartDetails.ProductName}}</p>
					</td>
					<td class="tableitem">
						<p class="itemtext">{{CartDetails.Quantity}}</p>
					</td>
					<td class="tableitem">
						<p class="itemtext">${{CartDetails.SalePrice}}</p>
					</td>
				</tr>

				<tr class="tabletitle">
					<td></td>
					<td class="Rate">
						<h1>Tax</h1>
					</td>
					<td class="payment">
						<h1>${{cart.TotalTax}}</h1>
					</td>
				</tr>

				<tr class="tabletitle">
					<td></td>
					<td class="Rate">
						<h1>Total</h1>
					</td>
					<td class="payment">
						<h1>${{cart.Total}}</h1>
					</td>
				</tr>
				<tr class="tabletitle">
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>


			</table>
		</div>
		<!--End Table-->

		<div id="legalcopy">
			<p>We are sorry to inform you that we did not received your payments</p>
			<p class="legal"><strong>Thank you for your business!</strong>  Payment is expected within 31 days; <br>
				please process this invoice within that time. There will be a 5% interest charge per month on late
				invoices.
			</p>
		</div>

	</div>
	<!--End InvoiceBot-->
	<div class="text-right">
		<button pButton pRipple type="button" icon="pi pi-table" (click)="openPDF()" class="ui-button-rounded ui-button-success p-button-text" pTooltip="Open To PDF"></button>&nbsp;
		<button pButton pRipple type="button" icon="pi pi-download" (click)="downloadPDF()" class="ui-button-rounded ui-button-info p-button-text" pTooltip="Download To PDF"></button>
	</div>
</div>
<!--End Invoice-->
<!-- <br><br><br>
<table>class="ui-button-raised ui-button-danger"
	<tr class="tabletitle">
		<td><button (click)="openPDF()">Open To PDF</button></td>
		<td>&nbsp;</td>
		<td><button (click)="downloadPDF()">Export To PDF</button></td>
	</tr>
</table> -->