/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
mat-sidenav {
    width: 280px;
    padding:5px;
}
.mat-drawer { 
    background-color: #FBBD11;
    color:#fff
}

.toolbar-spacer {
    flex: 1 1 auto;
}