<!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->


<h2>Payment Gateway</h2>
<p>You can see that it makes any credit card transaction as comfortable as possible.</p>
<div class="row fr-body">
    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">

                <div class="row">
                    <!-- <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" [(ngModel)]="address.FullName" name="firstname" placeholder="John M. Doe">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" [(ngModel)]="address.HouseBuildingCompanyApartment" name="address" placeholder="542 W. 15th Street">
                        <label for="landmark"><i class="fa fa-envelope"></i> Landmark</label>
                        <input type="text" id="Landmark" [(ngModel)]="address.Landmark" name="landmark:" placeholder="White church">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="city" [(ngModel)]="address.TownCityDistrict" name="city" placeholder="New York">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" [(ngModel)]="address.State" name="state" placeholder="NY">
                            </div>
                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" [(ngModel)]="address.Pincode" name="zip" placeholder="10001">
                            </div>
                        </div>
                    </div> -->
                    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
                    <script>paypal.Buttons().render('body');</script>
                    <div class="col-50">
                        <div class="row">
                            <div  class="col-sm-6">
                                <h3>Payment</h3>
                                <label for="fname">Accepted Cards</label>
                            </div>
                            <div  class="col-sm-6 text-right">
                                <h3>Total amount</h3>
                                <label for="fname">$ {{cart.Total}}</label>
                            </div>
                        </div>
                        <div class="icon-container">
                            <img style="height:110px; width: 120px" src="/assets/images/checkout/visa.png">
                            <img style="height:118px; width: 120px" src="/assets/images/checkout/mastercard.png">
                            <img style="height:140px; width: 120px; margin-top: -20px;" src="/assets/images/checkout/amex.png">
                            <img style="height:125px; width: 120px" src="/assets/images/checkout/discover.png">
                        </div>
                        <p-selectButton [options]="types" [(ngModel)]="selectedType" ></p-selectButton>
                        <p>Selected Payment Method: <span style="font-weight: bold">{{selectedType}}</span></p>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" [(ngModel)]="paymentCluster.CardHolderName" placeholder="John More Doe">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" [(ngModel)]="paymentCluster.CardNumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" [(ngModel)]="paymentCluster.ExpireMonth" placeholder="September">
                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" [(ngModel)]="paymentCluster.ExpireYear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" [(ngModel)]="paymentCluster.CVV" placeholder="352">
                            </div>
                        </div>
                        <label for="currency">Currency : USD</label>
                        <label for="cardtype">CardType : Visa {{selectedType}}</label>
                    </div>

                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input (click)="checkoutPayment()" value="Pay Now" class="btn">
            </form>
        </div>
    </div>
</div>