<div class="row" style="margin-left:15%;">

    <div class="spacer-top">
        <label>Personal Information: </label> &nbsp;&nbsp; &nbsp;&nbsp;<br>
        <input  id="input" type="text" size="50" placeholder="First Name" pInputText [disabled]="isPersonalInfo" [(ngModel)]="userInfo.FirstName">
    </div>
    <div class="spacer-top">
        <input id="input" type="text" size="50" placeholder="Last Name" pInputText [disabled]="isPersonalInfo" [(ngModel)]="userInfo.LastName"><br>
        <button style="color: honeydew; margin-top: 2%;" pButton type="button" label="SAVE"
        (click)="personalInfoSave()"  *ngIf="!isPersonalInfo" class="btn ui-button-warning"></button>
        <a style="font-weight: 700; font-size: medium;"  (click)="personalInfo()" *ngIf="isPersonalInfo">Edit</a>
    </div>
    <div class="spacer-top">
        <label>Email Address: </label> &nbsp;&nbsp; &nbsp;&nbsp;<br>
        <input id="input" type="text" size="50" placeholder="Email Address" pInputText [disabled]="isEmailAddress" [(ngModel)]="userInfo.EmailAddress"><br>
        <button style="color: honeydew; margin-top: 2%;" pButton type="button" label="SAVE"
        (click)="emailAddressSave()"  *ngIf="!isEmailAddress" class="btn ui-button-warning"></button>
        <a style="font-weight: 700; font-size: medium;"  (click)="emailAddress()" *ngIf="isEmailAddress">Edit</a>
    </div>
    <div class="spacer-top">
        <label>Mobile Number: </label> &nbsp;&nbsp; &nbsp;&nbsp;<br>
        <input id="input" type="text" size="50" placeholder="Mobile Number" pInputText [disabled]="isMobileNumber" [(ngModel)]="userInfo.MobileNumber"><br>
        <button style="color: honeydew; margin-top: 2%;" pButton type="button" label="SAVE"
        (click)="mobileNumberSave()"  *ngIf="!isMobileNumber" class="btn ui-button-warning"></button>
        <a style="font-weight: 700; font-size: medium;"  (click)="mobileNumber()" *ngIf="isMobileNumber">Edit</a>
    </div>

    <div style="margin-top:7%;">
        <h2>FAQs</h2>
        <div>
            <b>What happens when I update my email address (or mobile number)?</b><br>
            Your login email id (or mobile number) changes, likewise. You'll receive all your account related
            communication
            on
            your updated email address (or mobile number).</div><br>
        <div>
            <b>When will my Flipkart account be updated with the new email address (or mobile number)?</b><br>
            It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.
        </div><br>
        <div>
            <b>What happens to my existing Flipkart account when I update my email address (or mobile number)?</b><br>
            Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully
            functional. You'll continue seeing your Order history, saved information and personal details.</div>
        <div><br>
            <b>Does my Seller account get affected when I update my email address?</b><br>
            Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</div><br>
    </div>
    <br><br>
    <a style="font-weight: 700; font-size: medium;"  (click)="deactivateAccount()" *ngIf="isMobileNumber">Deactivate Account</a>
    
</div>